layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
    pane command="nvim"{
			args "src/main.rs"
		}
        pane split_direction="horizontal" {
            pane command="cargo" {
		args "clippy"
	    }
	    pane command="cargo" {
	        args "test"
	    }
	    pane command="cargo" {
	        args "build"
	    }
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
